<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des articles</title>
</head>
<body>
<h2>Liste des articles</h2>
<table>
    <thead>
    <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Auteur</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.titre}">Titre</td>
        <td th:text="${article.contenu}">Contenu</td>
        <td th:text="${article.auteur.email}">Auteur</td>
    </tr>
    </tbody>
</table>
</body>
</html>
